<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/landing.css">
        <title>cxr</title>
    </head>
    <body>
        <nav>
            <h1 class="nav-title">cxr-dl-cp2</h1>
            <img src="" alt="user">
        </nav>
        <div class="content">
            <div class= "card">
                <div class="banner">
                    <h1 class="large-text">Dashboard</h1><br><br><br><!--can be a fx text-->
                    <h3 class="medium-text">Please choose a file to upload to begin</h3><br>
                    <p class="small-text">It must be an image format</p><br>
                    <div class="action">
                        <button type="submit">upload file</button>
                        <button class="cancel"type="submit">cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p>
                CXR is a non-profit project dedicated to making radiologists work easier
            </p>
        </footer> 
    </body>
</html>

