<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='css/login.css')}}" rel="stylesheet">
    <title>CXR</title>
</head>
<body>
    <nav>
        <h1 class="nav-title"><a href="{{url_for('welcome')}}">cxr-dl-cp2</a></h1>
        <img src="" alt="user">
    </nav>
    <div class="content">
        <div class="card">
            <div class="welcome-message">
                <h1 class="large-text">Welcome Back</h1>
                <h3 class ="medium-text">to DLCP2</h3>
                <p class="small-text">
                    where we meet your radiological needs
                    with Deep Learning
                </p>
            </div>
        </div>
        <div class="userfield">
            <form action="{{url_for('login')}}",method='POST'>
                <h1 class="large-text">Login</h1>
                <fieldset >
                    {{form.email(placeholder='email') }}
                    {% if form.email.errors %}
                        <ul class="errors">
                        {% for error in form.email.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </fieldset>
                <fieldset>
                    {{ form.password(placeholder='password') }}
                    {% if form.password.errors %}
                        <ul class="errors">
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </fieldset>
                <!-- <fieldset class="input">
                    {{ form.recaptcha}}
                    {% if form.recaptcha.errors %}
                        <ul class="errors">
                        {% for error in form.recaptcha.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </fieldset> -->
                <p>
                   <span>Don't have an account yet? <a class ="button" href="{{url_for('signup')}}">signup</a></span> 
                </p>
                {{ form.submit }}
            </form>
        </div>
    </div>
   
   
    <footer>
        <p>
            CXR is a non-profit project dedicated to amking radiologists work easier
        </p>
    </footer>
    
</body>
</html>