<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CXR</title>
</head>
<body>
    <nav>
        <h1 class="nav-title">cxr-dl-cp2</h1>
        <a src="" alt="user">=</a>
    </nav>
    <div class="card">
        <div class="welcome-message">
            <h1 class="large-text">Welcome Back</h1>
            <h3 class ="medium-text">to DLCP2</h3>
            <p class="small-text">
                where we meet your radiological needs
                with Deep Learning
            </p>
        </div>
    </div>
    <div class="content">
        <form action="post">
            <h1 class="large-text">Login</h1>
            <input id ="email" placeholder="email" type="email">
            <input id ="password" placeholder="password" type="password">
            <button type="submit">submit</button>
        </form>
    </div>
    
</body>
</html>