<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">

  <title>CXR</title>
</head>
<body>
  <nav>
      <h1 class="nav-title">cxr-dl-cp2</h1>
      <img src="" alt="user">
  </nav>
    
  <div class="content">
    <video class= "back-video"id="background-video" autoplay loop muted poster="{{url_for('static',filename='resources/images/video-poster.jpg')}}">
      <source src="{{url_for('static',filename='resources/video/Blue.mp4')}}" type="video/mp4">
    </video>
    <div class="card">
      <div class="banner">
        <h1 >Welcome  to dlcp2 </h1>
        <h3>Where deeplearning makes cxrs simpler</h3><br><br>
        <div class="action">
          <a class = "button" href="{{url_for('signup')}}" >Signup</a>
          <a class = "button" href ="{{url_for('login')}}" >Login</a>
      </div>
    </div>
  </div>
  <footer>
    <p>
        CXR is a non-profit project dedicated to making radiologists work easier
    </p>
</footer>  
</body>
</html>